{% extends 'main.html' %}
{% load bootstrap %}
{% block title %} Dodaj Film {% endblock %}

{% block page %}
    <div class="d-flex justify-content-center mt-4">
        <div class="card w-75">
            <h5 class="card-header">Dodaj nowy film</h5>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <br>
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
